* {
	margin: 0;
	padding: 0;
	 }

/* start header */
header {
	display: block;
	height: 15vw;
	background-color: #A8E68A;
}

img.logo {
	display: block;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-left: auto;
	margin-right: auto;
	width: 140px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.3);
  text-align: center;
}

li {
	display: inline-block;
}

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 1rem 3rem;
  text-decoration: none;
  font-size: 1.1em;
}

	/* Change the link color to #333 (black) on hover */
	li a:hover {
		background-color: #333;
		color: white;
	}
/* End header */

/* Start body */
body {
	width: 100%;
	}

main {
	margin: 0;
	padding: 0;
	background-color: #6B705F;
	color: #99FF99;
}

table.list-action {
	width: 30vw;
	height: 769px;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 15vw;
	left: 0;
}

	/*change the left list color to #807359 on hover*/
	table.list-action tr:hover {
		background-color: rgba(255, 255, 255, 0.2);
		color: black;
	}	

table.list-action td {
	text-align: center;
	border-bottom: 1px solid #111;
	height: 6rem;
	font-size: 22px;
}

img.photo-presentation {
	width: 100vw;
	position: relative;
}

.sub-menu {
	display: none;
}

/* the page inscription */
.inscription {
	padding: 3rem 6rem 3rem 6rem;
}

.video-flex-container {
	display: flex;
	padding: 5rem;
}
iframe.video {
	padding: 0;
	width: 70%;
	height: 40vw;
}
div.description {
	width: 30%;
	padding: 0; 

}
.video-title {
	padding-right: 0;
	padding-left: 5rem;
	padding-top: 3rem;
}
.video-text {
	padding-right: 0;
   padding-left: 4rem;
}

.program-flex-container {
	display: flex;
	padding-bottom: 15vw;
}

.program-title {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	display: inline-block;
	color: black;
	width: 726px;
	height: 3vw;
	text-align: center;
	letter-spacing: 5px;
	font-size: 1rem;
	margin-top: 30vw; 
}

.meal-title {
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
	display: inline-block;
	color: black;
	width: 726px;
	height: 3vw;
	text-align: center;
	letter-spacing: 5px;
	font-size: 1rem;
	margin-top: 30vw; 
}
